
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Geneva, Tahoma, sans-serif;; */
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 200;
    src: local("Lato Regular"),local("Lato-Regular"),url("fonts/lato-v14-latin-regular.woff2") format("woff2"),url("fonts/lato-v14-latin-regular.woff") format("woff")
}

.row{
    margin-left: -8px;
    margin-right: -8px; 
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-four{
    width: 25%;
}
.header{
    display: flex;
    align-items: center;
    z-index: 10;
    background-color: white;
    position: relative;
    justify-content: space-evenly;
}
.hearder-logo
{
    display: block;
    cursor: pointer;
}
.logo--img {
    padding: 5 0 5;
    width: 70px;
}
#nav .list{
    float: left;
    margin-left: 330px;
    text-align: right;
}

#nav .list> li{
    display: inline-block;
    padding:20px 0;
    position: relative;
}
#nav .list> li> a{
    color: #000a3d;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#nav .list > li:hover a{
    border-bottom: 2px solid red;
    color: red;
    opacity: 0.6;
    filter: alpha(opacity=30);
}
    
#nav .list > li > a{
    padding: 30 20;
}

#nav .list li a{
    font-size: 15px;
    text-decoration: none;
    line-height: 40px;
}

/* begin slider */
.image{
    height: 650px;
    margin-bottom: 20px
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-title{
    font-size: 20px;
    color: #8e8fb5
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.stick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 1;
    z-index: 5;
    transition: all 0.2s linear;
    cursor: pointer;
}


.container-fluid {
    width: 50%;
    display: block;
    position: relative;
    margin: 50px;
}

.container-fluid .row{
    padding: 20px 100px 20px ; 
    text-align: center;
}

.container-fluid .text{
    margin-top: 10px;
}

.image {
    height: 400px;
    width: 3000px;
    margin-bottom: 200px;
}


.content {
    margin-top: 50px;
}

.content a {
    margin-top: 20px;
}

.image .content img {
    height: 250px;
    width: 350px;
    
}

.content .text p{
    margin: 0px;
}

.content .author p , img {
    display: inline-block;
}

.content .text img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.content img {
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.content:hover  img {
    transform: scale(1.1);
    opacity: 0.8     ;
}

.container-fluid .text .sub a {
    color: #f72020;
}

.button.outline {
    background: transparent;
    border: 1px solid rgba(255, 36, 87, 0.4);
    border: 1px solid var(--itchio_button_color, rgba(255, 36, 131, 0.4));
    color: #e8d6d6;
    color: var(--itchio_link_color, #f30101);
    text-shadow: none;
}

.button {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    background: #ececec;
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
    text-shadow: 0 1px 0 #f9f9f9;
    background: var(--itchio_button_color, #f4f4f4);
    color: var(--itchio_button_fg_color, white);
    text-shadow: 0 1px 0 var(--itchio_button_shadow_color, #ffffff);
    cursor: pointer;
    border-radius: 3px;
    border: none;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0 0 1px rgba(255,255,255,0.21);
    text-align: center;
    line-height: 33px;
    font-weight: bold;
    height: 35px;
}

.button#hover {
    background-color: #999933;
    }
    #hover span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#hover span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#hover:hover span {
    padding-right: 25px;
}
    
#hover:hover span:after {
    opacity: 1;
    right: 0;
}
    /*Thiết lập hiệu ứng cho button click*/
.button#click {
    background-color: #ffffff;
}

#click:hover {background-color: #e93030;color: var(--itchio_link_color, #f9f9f9)}

#click:active {
    background-color: #ff0000;
    transform: translateY(5px);
}




/* begon footer */
.footer {
    position: relative;
    z-index: 5;
    background-color: #000a3d;
    font-size: 15px;
    height: auto;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 135px;
    margin-right: 135px;
}
.footer__content {
    color: #9a99b8;
    padding: 60px 0;
    margin-left: auto;
}
.footer__content .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer__logo {
    margin-bottom: 35px;
}
.footer__logo a {
    display: block;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.48;
    text-transform: capitalize;
    color: #fff;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: left;
    text-align: right;
    font-size: 14px;
}
.footer-list li{
    margin-right: 40px;
}
.footer-list > li a {
    color: inherit;
    font-size: 15px;
    line-height: 1.43;
    text-decoration: none;
    letter-spacing: 1px;
}
.footer-list > li:hover a{
    color: white;
    text-decoration: none;
}
.footer__contact{
    font-size: 15px;
    margin-left: 130px;
}
.footer__contact ul li {
    position: relative;
    padding-left: 130px;
    color: inherit;
    padding-bottom: 15px;
}
.footer__contact ul li span {
    position: absolute;
    top: 0;
    left: 0;
}
.footer__contact .img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.footer__footer {
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 15px 0;
}
.footer__footer .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer__copyright {
    font-weight: 400;
    color: #5d6385;
    margin-bottom: 0;
}
.footer__copyright p {
    margin: 0 0 15px 0;
}
.footer__social {
    text-align: right;
}
.footer__social a {
    display: inline-block;
    max-width: 20px;
}
.footer__social a:not(:last-child) {
    margin-right: 25px;
}

