
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Geneva, Tahoma, sans-serif;;
    scroll-behavior: smooth;
}
.color-black{
    color: #000!important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half {
    width: 50%;
}
.col-four{
    width: 25%;
}
.header{
    /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(255, 255, 255, 0.0)); */
    position: fixed;
    /* padding: 15px 0; */
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hearder-logo
{
    
}
.logo--img {
    padding: 5 0 5;
    width: 70px;
}
#nav .list{
    float: left;
    text-align: right;
}
.btn {
    transition: none;
}

#nav .list> li{
    display: inline-block;
    position: relative;
}
#nav .list> li> a{
    color: #fff;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#nav .list > li:hover a{
    cursor: pointer;
    transition: all 0.2s linear;
    border-bottom: 0;
    color: red;
    opacity: 0.6;
    filter: alpha(opacity=30);
}
    
#nav .list > li > a{
    padding: 30 20;
}

#nav .list li a{
    position: relative;
    font-size: 15px;
    text-decoration: none;
    line-height: 40px;
}

/* begin slider */
#slider {
    padding-top: 47%;
    background: url('../picture/tCHu/slider.jpg') top center / cover no-repeat;
}

/* bedin clb */
.clb {
    height: auto;
    padding-top: 100px;
    padding-bottom: 130px;
}
.clb-image{
    margin-top: 150px;
    height: 50%;
    width: 90%;
    background-size: 100px;
}
.section-clb{
    height: auto;
    display: flex;
}

.clb-image img{
    margin-left: 120px;
    width: 100%;
    object-fit: fill;
}

.section-text p{
    padding-right: 100px;
}
.section-text{
    padding-left: 100px;
    display: grid;
    align-content: center;
    line-height: 1.6;
}
/* begin ban */
.container-ban {
    padding-bottom: 80px;
    height: auto;
    color: white;
    background-color: #f6f6f6;
}
.ban .header-ban {
    display: grid;
    justify-items: center; 
    align-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    color: #000a3d;
    background-color: #f6f6f6;
}
.container-ban .info-ban {
    transition: all 0.3s;
    padding: 0 8px;
    width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}
.info-ban:hover{
    transform: translateY(-10px);
}
.info-ban .name-ban {
    height: 100px;
    display: grid;
    justify-items: center; 
    align-content: center;
    padding: 20px 0;
    margin-bottom: 5px;
    color: #000a3d;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.info-ban .content-ban {
    transition: all 0.3s linear;
    cursor: pointer;
    height: 365px;
    word-spacing: 1.5px;
    font-size: 18px;
    line-height: 25px;
    color: #000a3d;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.list-ban {
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.content-ban {
    padding: 20px 25px;
}

/* nội quy */
.rules {
    margin: 130px;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(../picture/tCHu/anh1.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}
.container-rules {
    padding: 50px 100px;
}
.rules-title {
    display: flex;
    justify-content: center;
    padding: 50px 180px;
    font-size: 34px;
    color: inherit;
    text-decoration: none;
}
.rules-info {
    padding-bottom: 50px;
}

.btn-rules {
    margin-left: 430px;
    border: 0;
    background-color: #fff;
    color: #060A52;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    padding: 0 45px;
}
.rules .btn-rules:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #D91E1E;
    color: #fff;

}
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url(../picture/tCHu/anh1.jpg);
    background-attachment: fixed;
    background-size: cover;
    z-index: 11;
    overflow: scroll;
    display: none;
}
.modal-law--btn__close {
    bottom: 50px;
    right: 40px;
    position: fixed;
    transition: all 0.4s;
    cursor: pointer;
    border: 0;
    background-color: #fff;
    color: #060A52;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    padding: 0 45px;
}
.modal-law--btn__close:hover {
    cursor: pointer;
    transition: all 0.2s linear;
    background-color: #D91E1E;
    color: #fff;
}
.modal-law--section__body {
    margin-left: 150px;
    margin-right: 220px;
    font-size: 18px;
    margin-bottom: 50px;
}
.open {
    display: flex;
}
.modal_body {
    color: #fff;
    position: absolute;
}
.modal-law--section__header {
    width: 100vw;
    position: relative;
    text-align: center;
    line-height: 200px;
    font-size: 32px;
    font-weight: 500;
}
/* begin story */
.story {
    height: auto;
    position: relative;
    padding-top: 25px;
    padding-bottom: 100px;
}
.story-image{
    background-size: 100px;
}
.section-story{
    height: auto;
    display: flex;
}

.story-image{
    height: 50%;
    width: 90%;
}
.story-image img{
    position: relative;
    right: 5%;
    width: 100%;
    object-fit: fill;
}
.section-text h1{
    margin-bottom: 10px;
    font-weight: 400;
}
.section-text{
    padding-left: 130px;
    display: grid;
    align-content: center;
    line-height: 1.6;
}
/* begon footer */
.footer {
    position: relative;
    z-index: 5;
    background-color: #000a3d;
    font-size: 15px;
    height: auto;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 135px;
    margin-right: 135px;
}
.footer__content {
    color: #9a99b8;
    padding: 60px 0;
    margin-left: auto;
}
.footer__content .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer__logo {
    margin-bottom: 35px;
}
.footer__logo a {
    display: block;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.48;
    text-transform: capitalize;
    color: #fff;
}
.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: left;
    text-align: right;
    font-size: 14px;
}
.footer-list li{
    margin-right: 40px;
}
.footer-list > li a {
    color: inherit;
    font-size: 15px;
    line-height: 1.43;
    text-decoration: none;
    letter-spacing: 1px;
}
.footer-list > li:hover a{
    color: white;
    text-decoration: none;
}
.footer__contact{
    font-size: 15px;
    margin-left: 130px;
}
.footer__contact ul li {
    position: relative;
    padding-left: 130px;
    color: inherit;
    padding-bottom: 15px;
}
.footer__contact ul li span {
    position: absolute;
    top: 0;
    left: 0;
}
.footer__contact .img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.footer__footer {
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 15px 0;
}
.footer__footer .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.footer__copyright {
    font-weight: 400;
    color: #5d6385;
    margin-bottom: 0;
}
.footer__copyright p {
    margin: 0 0 15px 0;
}
.footer__social {
    text-align: right;
}
.footer__social a {
    display: inline-block;
    max-width: 20px;
}
.footer__social a:not(:last-child) {
    margin-right: 25px;
}

